           
           



            <div class="loading-container">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>


            <div class="content-wrapper hide-until-loading">
                <!-- Contact Map -->

                <div class="contact-map3" id="contact_map">

                </div>



                <!-- Contact Map -->
                <div class="body-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-sm-8">
                            indhold
                                
                            </div>


                            <div class="col-md-3 col-sm-3 col-md-offset-1 col-sm-offset-1">
                                <div class="sidebar">


                                    <div class="sidebar-block">
                                        <h3 class="h3-sidebar-title">
                                            København
                                        </h3>
                                        <div class="sidebar-icon-item">
                                            <i class="icon-phone"></i> (+45) 53 54 35 30
                                        </div>
                                        <div class="sidebar-icon-item">
                                            <i class="icon-email"></i> contact@danpack.dk
                                        </div>
                                        <div class="sidebar-icon-item">
                                            <i class="icon-home"></i> Løvbakken 11, 3520 Farum, Danmark
                                        </div>
                                    </div>

                                    <div class="sidebar-block">
                                        <h3 class="h3-sidebar-title">
                                            Stockholm
                                        </h3>

                                          <div class="sidebar-icon-item">
                                            <i class="icon-phone"></i> (+45) 53 54 35 30
                                        </div>
                                        <div class="sidebar-icon-item">
                                            <i class="icon-email"></i> stockholm@danpack.dk
                                        </div>
                                        <div class="sidebar-icon-item">
                                            <i class="icon-home"></i> Tetorpsvägen 30, 194 34 Upplands Väsby, Sverige
                                        </div>
                                        







                                    </div>
                                    <!-- <div class="sidebar-block">
                                        <h3 class="h3-sidebar-title">
                                            Socials
                                        </h3>


                                        <div class="social-icons">

                                            <ul>
                                                <li>
                                                    <a href="#" title="yahoo" target="_blank" class="social-media-icon yahoo-icon">yahoo</a>
                                                </li>
                                                <li>
                                                    <a href="#" title="ember" target="_blank" class="social-media-icon ember-icon">ember</a>
                                                </li>
                                                <li>
                                                    <a href="#" title="tumblr" target="_blank" class="social-media-icon tumblr-icon">tumblr</a>
                                                </li>
                                                <li>
                                                    <a href="#" title="facebook" target="_blank" class="social-media-icon facebook-icon">facebook</a>
                                                </li>
                                                <li>
                                                    <a href="#" title="apple" target="_blank" class="social-media-icon apple-icon">apple</a>
                                                </li>
                                                <li>
                                                    <a href="#" title="lastfm" target="_blank" class="social-media-icon lastfm-icon">lastfm</a>
                                                </li>
                                                <li>
                                                    <a href="#" title="wordpress" target="_blank" class="social-media-icon wordpress-icon">wordpress</a>
                                                </li>
                                                <li>
                                                    <a href="#" title="dropbox" target="_blank" class="social-media-icon dropbox-icon">dropbox</a>
                                                </li>

                                            </ul>

                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--.content-wrapper end -->


            <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
            
           