

            <div class="loading-container">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>


            <div class="content-wrapper hide-until-loading"><div class="body-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 animated" data-animtype="fadeInUp"
                                 data-animrepeat="0"
                                 data-speed="1s"
                                 data-delay="0.4s">
                                <h2 class="h2-section-title">Om os</h2>
                                <div class="i-section-title">
                                    <i class="icon-feather">

                                    </i>
                                </div>
                            </div>
                        </div>

                        <div class="space-sep20"></div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="title-block clearfix">
                                    <h1 class="h3-body-title">Din private label partner</h1>
                                    <div class="title-seperator"></div>
                                </div>               
                                                                        
                                    <p>I samarbejde med en række fabrikker i EU har vi siden 2009 løst udviklings- og pakkeopgaver indenfor Food, Personlig pleje, Husholdning, Kosttilskud, Bilpleje, Kæledyr m.m</p>
                                   <p>Partnernetværket betyder alt vi altid kan placere din produktion det optimale sted ift. volumen, pris og logistik</p>
                                    <P>Produkternes form kan være flydende, faste (stykemner) eller pulver</P>
                                   <p> Vi udvikler gerne dit produkt fra start til palleklart, men fungerer også gerne som co-packer </p>
                                  <p>  Vi har en lang række standard formuleringer, som vi gerne modificerer til dit behov, men tilbyder også evt. forbedringer på dit eksisterende produkt gennem vores innovative laboratorier</p> 
                                  <div class="space-sep20"></div>
                                    <h4>Emballage & produkter</h4>
                                    <ul id="om" style="list-style:none;">
                                        <li>Sacheter (enkelt, dobbelt eller tripple)</li>
                                        <li>EasySnap (enhåndsbetjent sachet)</li>
                                        <li>Ståposer (doypacks)</li>
                                        <li>Stick packs/Flow packs</li>
                                        <li>Vådservietter (enkelt, genluk eller krukke)</li>
                                        <li>Bomuldsrondeller/Vatpinde</li>
                                        <li>Gelatine kapsler (Beauty og kosttilskud)</li>
                                        <li>Ruller</li>
                                       <ul style="list-style:none; margin-bottom:15px;">
                            
                                                <li>Baby</li>
                                                <li>Personlig Pleje</li>
                                                <li>Husholdning</li>    
                                        </ul>
                                        
                                    </ul>

                                         <div class="space-sep20"></div>


                                       <h5> Vores erfaringer - din styrke!</h5>



                    
                        

                                    
                                
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="cycle-slideshow frame1"
                                     data-cycle-slides="> .slider-img"
                                     data-cycle-swipe="true"
                                     data-cycle-prev=".cycle-prev"
                                     data-cycle-next=".cycle-next"
                                     data-cycle-overlay-fx-out="slideUp"
                                     data-cycle-overlay-fx-in="slideDown"
                                     data-cycle-timeout=0>
                                    <div class="fa fa-chevron-right cycle-next"></div>
                                    <div class="fa fa-chevron-left cycle-prev"></div>

                                    <div class="cycle-pager"></div>

                                    <!-- slider item -->
                                    <div class="slider-img">

                                        <img src="images/placeholders/1.png" alt="image-placeholder.jpg"/>
                                    </div>
                                    <!-- //slider item// -->
                                   
                                    <!-- slider item -->
                                    <div class="slider-img">

                                        <img src="images/placeholders/3.png" alt="image-placeholder.jpg"/>
                                    </div>
                                    <!-- //slider item// -->
                                    <!-- slider item -->
                                    <div class="slider-img">

                                        <img src="images/placeholders/4.png" alt="image-placeholder.jpg"/>
                                    </div>
                                    <!-- //slider item// -->
                                    <!-- slider item -->
                                    <div class="slider-img">

                                        <img src="images/placeholders/5.jpg" alt="image-placeholder.jpg"/>
                                    </div>
                                    <!-- //slider item// -->
                                    <!-- slider item -->
                                    <div class="slider-img">

                                        <img src="images/placeholders/6.jpg" alt="image-placeholder.jpg"/>
                                    </div>
                                    <!-- //slider item// -->
                                      <!-- slider item -->
                                    <div class="slider-img">

                                        <img src="images/placeholders/7.jpg" alt="image-placeholder.jpg"/>
                                    </div>
                                    <!-- //slider item// -->
                                   
                                      <!-- slider item -->
                                    <div class="slider-img">

                                        <img src="images/placeholders/9.jpg" alt="image-placeholder.jpg"/>
                                    </div>
                                    <!-- //slider item// -->
                                      <!-- slider item -->
                                    <div class="slider-img">

                                        <img src="images/placeholders/10.jpg" alt="image-placeholder.jpg"/>
                                    </div>
                                    <!-- //slider item// -->
                                      <!-- slider item -->
                                    <div class="slider-img">

                                        <img src="images/placeholders/11.jpg" alt="image-placeholder.jpg"/>
                                    </div>
                                    <!-- //slider item// -->
                                      <!-- slider item -->
                                    <div class="slider-img">

                                        <img src="images/placeholders/12.jpg" alt="image-placeholder.jpg"/>
                                    </div>
                                    <!-- //slider item// -->
                                      <!-- slider item -->
                                    <div class="slider-img">

                                        <img src="images/placeholders/13.jpg" alt="image-placeholder.jpg"/>
                                    </div>
                                    <!-- //slider item// -->
                                      <!-- slider item -->
                                    <div class="slider-img">

                                        <img src="images/placeholders/14.png" alt="image-placeholder.jpg"/>
                                    </div>
                                    <!-- //slider item// -->

                                </div>


                            </div>               

                        </div>

                        <div class="space-sep40"></div>








                       <!--  <div class="row">

                            <div class="col-md-12 col-sm-12">

                                <div class="title-block clearfix">
                                    <h3 class="h3-body-title">Your Business Solution</h3>
                                    <div class="title-seperator"></div>
                                </div><div class="accordion" data-toggle="off" data-active-index="0">


                                    <div class="accordion-row">

                                        <div class="title">
                                            <div class="open-icon"></div>
                                            <h4>In enim justo, rhoncus ut ?</h4>
                                        </div>
                                        <div class="desc">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut.</div>
                                    </div>


                                    <div class="accordion-row">

                                        <div class="title">
                                            <div class="open-icon"></div>
                                            <h4>Cum sociis natoque penatibus ?</h4>
                                        </div>
                                        <div class="desc">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</div>
                                    </div>


                                    <div class="accordion-row">

                                        <div class="title">
                                            <div class="open-icon"></div>
                                            <h4>In hac habitasse platea dictumst. ?</h4>
                                        </div>
                                        <div class="desc">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.</div>
                                    </div>


                                </div>            </div>

                           

                        <div class="space-sep40"></div>

                        <div class="row">            
                            <div class="col-md-12 col-sm-12">
                                <div class="title-block clearfix">
                                    <h3 class="h3-body-title">Our Team</h3>
                                    <div class="title-seperator"></div>
                                </div>                <p>
                                    Malesuada tortor, nec scelerisque lorem mattis. Nunc et rutrum consetetur sadipscing elitr, sed diam nonumy at volutpat. Sed consectetur suscipit lorem nunc.adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum et rutrum.
                                </p>
                            </div>
                        </div> -->

                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="team-member">
                                    <div class="team-member-image img-overlay">
                                        <img src="http://placekitten.com/360/319" alt="Charlie Barns"/>

                                        <div class="item-img-overlay">
                                            <div class="social-icons item_img_overlay_content">

                                                <a href="#" title="ember" target="_blank" class="social-media-icon ember-icon">ember</a>
                                                <a href="#" title="pininterest" target="_blank" class="social-media-icon pininterest-icon">pininterest</a>
                                                <a href="#" title="youtube" target="_blank" class="social-media-icon youtube-icon">youtube</a>
                                                <a href="#" title="zerply" target="_blank" class="social-media-icon zerply-icon">zerply</a>


                                            </div>

                                        </div>
                                    </div>
                                    <div class="team-member-content">
                                        <h3 class="team-member-name h3-body-title">
                                            Jesper Nordvig
                                        </h3>

                                        <div class="team-member-position">
                                            Project Manager
                                        </div>
                                        <div class="team-member-short-bio">
                                            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                                            sanctus est Lorem ipsum dolor sit amet
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="team-member">
                                    <div class="team-member-image img-overlay">
                                        <img src="http://placekitten.com/360/319" alt="Fred Bloggs"/>

                                        <div class="item-img-overlay">
                                            <div class="social-icons item_img_overlay_content">

                                                <a href="#" title="mail" target="_blank" class="social-media-icon mail-icon">mail</a>
                                                <a href="#" title="reddit" target="_blank" class="social-media-icon reddit-icon">reddit</a>


                                            </div>

                                        </div>
                                    </div>
                                    <div class="team-member-content">
                                        <h3 class="team-member-name h3-body-title">
                                            Helle Juul Christensen
                                        </h3>

                                        <div class="team-member-position">
                                            Web Developer
                                        </div>
                                        <div class="team-member-short-bio">
                                            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                                            sanctus est Lorem ipsum dolor sit amet
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="team-member">
                                    <div class="team-member-image img-overlay">
                                        <img src="http://placekitten.com/360/319" alt="Jecson Smith"/>

                                        <div class="item-img-overlay">
                                            <div class="social-icons item_img_overlay_content">

                                                <a href="#" title="blogger" target="_blank" class="social-media-icon blogger-icon">blogger</a>
                                                <a href="#" title="vimeo" target="_blank" class="social-media-icon vimeo-icon">vimeo</a>
                                                <a href="#" title="linkedin" target="_blank" class="social-media-icon linkedin-icon">linkedin</a>


                                            </div>

                                        </div>
                                    </div>
                                    <div class="team-member-content">
                                        <h3 class="team-member-name h3-body-title">
                                            Svensker
                                        </h3>

                                        <div class="team-member-position">
                                            UI Specialist
                                        </div>
                                        <div class="team-member-short-bio">
                                            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                                            sanctus est Lorem ipsum dolor sit amet
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            

                        </div><!-- end row -->


                    </div>
                </div>
                <div class="section-content bottom-body clients-section">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-12 col-sm-12 animated fadeInDown animatedVisi" data-animtype="fadeInDown" data-animrepeat="0" data-speed="1s" data-delay="0.2s">
                                <h2 class="h2-section-title">Kunder</h2>
                                <ul class="section-clients">
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.2s" style="-webkit-animation: 0.2s;"><img src="images/placeholders/clients/danpack/ABC.jpg" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.3s" style="-webkit-animation: 0.3s;"><img src="images/placeholders/clients/danpack/AES.jpg" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.4s" style="-webkit-animation: 0.4s;"><img src="images/placeholders/clients/danpack/allison.png" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.5s" style="-webkit-animation: 0.5s;"><img src="images/placeholders/clients/danpack/BBI.png" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.6s" style="-webkit-animation: 0.6s;"><img src="images/placeholders/clients/danpack/Danlind.gif" alt="Logo" class="img-responsive client-image"></li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                             <div class="col-md-12 col-sm-12 animated fadeInDown animatedVisi" data-animtype="fadeInDown" data-animrepeat="0" data-speed="1s" data-delay="0.2s">
                              
                                <ul class="section-clients">
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.2s" style="-webkit-animation: 0.2s;"><img src="images/placeholders/clients/danpack/Dermapharm.png" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.3s" style="-webkit-animation: 0.3s;"><img src="images/placeholders/clients/danpack/Dyrup.jpg" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.4s" style="-webkit-animation: 0.4s;"><img src="images/placeholders/clients/danpack/FdS.png" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.5s" style="-webkit-animation: 0.5s;"><img src="images/placeholders/clients/danpack/Hardford.png" alt="Logo" class="img-responsive client-image"></li>
                                     <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.2s" style="-webkit-animation: 0.2s;"><img src="images/placeholders/clients/danpack/Matas.png" alt="Logo" class="img-responsive client-image"></li>
                                  
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 animated fadeInDown animatedVisi" data-animtype="fadeInDown" data-animrepeat="0" data-speed="1s" data-delay="0.2s">
                               
                                <ul class="section-clients">
                                   
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.3s" style="-webkit-animation: 0.3s;"><img src="images/placeholders/clients/danpack/MedicDanmark.jpg" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.4s" style="-webkit-animation: 0.4s;"><img src="images/placeholders/clients/danpack/Nopa.png" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.5s" style="-webkit-animation: 0.5s;"><img src="images/placeholders/clients/danpack/Persano.png" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.6s" style="-webkit-animation: 0.6s;"><img src="images/placeholders/clients/danpack/propharmagroup230.png" alt="Logo" class="img-responsive client-image"></li>
                                        <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.2s" style="-webkit-animation: 0.2s;"><img src="images/placeholders/clients/danpack/Riemann.gif" alt="Logo" class="img-responsive client-image"></li>
                                  
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                             <div class="col-md-12 col-sm-12 animated fadeInDown animatedVisi" data-animtype="fadeInDown" data-animrepeat="0" data-speed="1s" data-delay="0.2s">
                              
                                <ul class="section-clients">
                                  <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.3s" style="-webkit-animation: 0.3s;"><img src="images/placeholders/clients/danpack/SH.png" alt="Logo" class="img-responsive client-image"></li>
                                
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.4s" style="-webkit-animation: 0.4s;"><img src="images/placeholders/clients/danpack/Silvaco.png" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.5s" style="-webkit-animation: 0.5s;"><img src="images/placeholders/clients/danpack/Simplus.jpg" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.2s" style="-webkit-animation: 0.2s;"><img src="images/placeholders/clients/danpack/Tandex.jpg" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.3s" style="-webkit-animation: 0.3s;"><img src="images/placeholders/clients/danpack/Unilever.gif" alt="Logo" class="img-responsive client-image"></li>
                                  
                                  
                                </ul>
                            </div>
                        </div>

                              <div class="row">
                            <div class="col-md-12 col-sm-12 animated fadeInDown animatedVisi" data-animtype="fadeInDown" data-animrepeat="0" data-speed="1s" data-delay="0.2s">
                            
                                <ul class="section-clients">
                                  <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.4s" style="-webkit-animation: 0.4s;"><img src="images/placeholders/clients/danpack/vello.jpg" alt="Logo" class="img-responsive client-image"></li>
                                    
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.5s" style="-webkit-animation: 0.5s;"><img src="images/placeholders/clients/danpack/Winova.png" alt="Logo" class="img-responsive client-image"></li>
                                
                                </ul>
                            </div>
                        </div>

                        <div class="space-sep40"></div>

                    </div>

                </div>
            </div><!--.content-wrapper end -->
            
        
