<div class="body-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 animated fadeInDown animatedVisi" data-animtype="fadeInDown" data-animrepeat="0" data-speed="1s" data-delay="0.2s">
                                    <h2 class="h2-section-title">Kunder</h2>
                                    <ul class="section-clients">
                                        <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.2s" style="-webkit-animation: 0.2s;"><img src="images/placeholders/clients/danpack/ABC.jpg" alt="Logo" class="img-responsive client-image"></li>
                                        <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.3s" style="-webkit-animation: 0.3s;"><img src="images/placeholders/clients/danpack/AES.jpg" alt="Logo" class="img-responsive client-image"></li>
                                        <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.4s" style="-webkit-animation: 0.4s;"><img src="images/placeholders/clients/danpack/Allison.png" alt="Logo" class="img-responsive client-image"></li>
                                        <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.5s" style="-webkit-animation: 0.5s;"><img src="images/placeholders/clients/danpack/BBI.png" alt="Logo" class="img-responsive client-image"></li>
                                        <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.6s" style="-webkit-animation: 0.6s;"><img src="images/placeholders/clients/danpack/Danlind.gif" alt="Logo" class="img-responsive client-image"></li>
                                    </ul>
                            </div>
                        </div>

                        <div class="row">
                             <div class="col-md-12 col-sm-12 animated fadeInDown animatedVisi" data-animtype="fadeInDown" data-animrepeat="0" data-speed="1s" data-delay="0.2s">
                              
                                <ul class="section-clients">
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.2s" style="-webkit-animation: 0.2s;"><img src="images/placeholders/clients/danpack/Dermapharm.png" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.3s" style="-webkit-animation: 0.3s;"><img src="images/placeholders/clients/danpack/Dyrup.jpg" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.4s" style="-webkit-animation: 0.4s;"><img src="images/placeholders/clients/danpack/FdS.png" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.5s" style="-webkit-animation: 0.5s;"><img src="images/placeholders/clients/danpack/Hardford.png" alt="Logo" class="img-responsive client-image"></li>
                                     <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.2s" style="-webkit-animation: 0.2s;"><img src="images/placeholders/clients/danpack/Matas.png" alt="Logo" class="img-responsive client-image"></li>
                                  
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 animated fadeInDown animatedVisi" data-animtype="fadeInDown" data-animrepeat="0" data-speed="1s" data-delay="0.2s">
                               
                                <ul class="section-clients">
                                   
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.3s" style="-webkit-animation: 0.3s;"><img src="images/placeholders/clients/danpack/MedicDanmark.jpg" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.4s" style="-webkit-animation: 0.4s;"><img src="images/placeholders/clients/danpack/Nopa.png" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.5s" style="-webkit-animation: 0.5s;"><img src="images/placeholders/clients/danpack/Persano.png" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.6s" style="-webkit-animation: 0.6s;"><img src="images/placeholders/clients/danpack/propharmagroup230.png" alt="Logo" class="img-responsive client-image"></li>
                                        <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.2s" style="-webkit-animation: 0.2s;"><img src="images/placeholders/clients/danpack/Riemann.gif" alt="Logo" class="img-responsive client-image"></li>
                                  
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                             <div class="col-md-12 col-sm-12 animated fadeInDown animatedVisi" data-animtype="fadeInDown" data-animrepeat="0" data-speed="1s" data-delay="0.2s">
                              
                                <ul class="section-clients">
                                  <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.3s" style="-webkit-animation: 0.3s;"><img src="images/placeholders/clients/danpack/SH.png" alt="Logo" class="img-responsive client-image"></li>
                                
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.4s" style="-webkit-animation: 0.4s;"><img src="images/placeholders/clients/danpack/Silvaco.png" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.5s" style="-webkit-animation: 0.5s;"><img src="images/placeholders/clients/danpack/Simplus.jpg" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.2s" style="-webkit-animation: 0.2s;"><img src="images/placeholders/clients/danpack/Tandex.jpg" alt="Logo" class="img-responsive client-image"></li>
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.3s" style="-webkit-animation: 0.3s;"><img src="images/placeholders/clients/danpack/Unilever.gif" alt="Logo" class="img-responsive client-image"></li>
                                  
                                  
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 animated fadeInDown animatedVisi" data-animtype="fadeInDown" data-animrepeat="0" data-speed="1s" data-delay="0.2s">
                            
                                <ul class="section-clients">
                                  <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.4s" style="-webkit-animation: 0.4s;"><img src="images/placeholders/clients/danpack/vello.jpg" alt="Logo" class="img-responsive client-image"></li>
                                    
                                    <li class="animated bounceIn animatedVisi" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.5s" style="-webkit-animation: 0.5s;"><img src="images/placeholders/clients/danpack/Winova.png" alt="Logo" class="img-responsive client-image"></li>
                                
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>