
 <div class="content-wrapper hide-until-loading"><div class="body-wrapper">
                 <h2 class="h2-section-title" id="staapose">Ståpose</h2>
                   
                    <div class="section-content section-tabs full-tabs">
                        <div class="tab-container">
                            <div class="section-tab-arrow"></div>
                            <div class="section-etabs-container">
                                <ul class="section-etabs">
                                    <li class="tab active">
                                        <a href="#tabc1"> Standard</a>
                                    </li>
                                    <li class="tab">
                                        <a href="#tabc2"> Lynlås genluk</a>
                                    </li>
                                    <li class="tab">
                                        <a href="#tabc3"> Med tud </a>
                                    </li>
                                    <li class="tab">
                                        <a href="#tabc4">Figurskåret</a>
                                    </li>
                                   
                                </ul>
                            </div>



<!-- Product portfolio -->
                   
                    <div class="tab-content">

                                <div id="tabc1">
                                    <div class="section-content section-color-clouds">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">   
                                                    





                                

                                
                            </div>
                        </div>

                        <div class="row animated" data-animtype="fadeInUp" data-animrepeat="0"
                             data-animdelay="0.4s">
                            <div class="col-md-4 col-sm-4">
                                <div class="team-member">
                                    <div class="team-member-image img-overlay">
                                        <img src="images/placeholders/team-placeholder.jpg" alt="Fred Nerk"/>

                                        <div class="item-img-overlay">
                                            <div class="social-icons item_img_overlay_content">

                                                <a href="#" title="behance" target="_blank" class="social-media-icon behance-icon">behance</a>
                                                <a href="#" title="reddit" target="_blank" class="social-media-icon reddit-icon">reddit</a>
                                                <a href="#" title="dribble" target="_blank" class="social-media-icon dribble-icon">dribble</a>


                                            </div>

                                        </div>
                                    </div>
                                    <div class="team-member-content">
                                        <h3 class="team-member-name h3-body-title">
                                            Fred Nerk
                                        </h3>

                                        <div class="team-member-position">
                                            Business analysts 
                                        </div>
                                        <div class="team-member-short-bio">
                                            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                                            sanctus est Lorem ipsum dolor sit amet
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="team-member">
                                    <div class="team-member-image img-overlay">
                                        <img src="images/placeholders/team-placeholder.jpg" alt="Joe Shmoe"/>

                                        <div class="item-img-overlay">
                                            <div class="social-icons item_img_overlay_content">

                                                <a href="#" title="paypal" target="_blank" class="social-media-icon paypal-icon">paypal</a>
                                                <a href="#" title="zerply" target="_blank" class="social-media-icon zerply-icon">zerply</a>


                                            </div>

                                        </div>
                                    </div>
                                    <div class="team-member-content">
                                        <h3 class="team-member-name h3-body-title">
                                            Joe Shmoe
                                        </h3>

                                        <div class="team-member-position">
                                            Graphic Designer
                                        </div>
                                        <div class="team-member-short-bio">
                                            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                                            sanctus est Lorem ipsum dolor sit amet
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="team-member">
                                    <div class="team-member-image img-overlay">
                                        <img src="images/placeholders/team-placeholder.jpg" alt="Jecson Smith"/>

                                        <div class="item-img-overlay">
                                            <div class="social-icons item_img_overlay_content">

                                                <a href="#" title="paypal" target="_blank" class="social-media-icon paypal-icon">paypal</a>
                                                <a href="#" title="sharethis" target="_blank" class="social-media-icon sharethis-icon">sharethis</a>
                                                <a href="#" title="zerply" target="_blank" class="social-media-icon zerply-icon">zerply</a>


                                            </div>

                                        </div>
                                    </div>
                                    <div class="team-member-content">
                                        <h3 class="team-member-name h3-body-title">
                                            Jecson Smith
                                        </h3>

                                        <div class="team-member-position">
                                            UI Specialist
                                        </div>
                                        <div class="team-member-short-bio">
                                            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                                            sanctus est Lorem ipsum dolor sit amet
                                        </div>
                                    </div>
                                </div>
                            </div>


                                                </div>


                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="tabc2">
                                    <div class="section-content section-color-gray no-padding">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">   


                                                    <h2 class="h2-section-title">Duis sed odio sit amet nibh vulputate</h2>
                                                    <h3 class="h3-section-info">Lorem ipsum dolor sit amet, in pri offendit ocurreret. Vix sumo ferri an. pfs adodio fugit delenit ut qui. Omittam suscipiantur ex  vel,ex audiam  intellegat gfIn labitur discere eos, nam an feugiat voluptua.</h3>
                                                </div>


                                                <div class="col-md-6 col-sm-6">
                                                    <div class="right-image-container center-text">
                                                        <img src=images/placeholders/iphone4-placeholder.png alt="Mockup" />
                                                    </div>                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>                
                                </div>

                                <div id="tabc3">
                                    <div class="section-content section-color-clouds">

                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="space-sep20"></div>
                                                    <h2 class="h2-section-title">Donec pede justo, fringilla vel.</h2>
                                                    <p class="p-section-info">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>                

                                <div id="tabc4">
                                    <div class="section-content section-color-purple white-text">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-5 col-sm-5">
                                                    <div class="left-image-container">
                                                        <img src=images/placeholders/two-iphone-placeholder.png alt="Mockup"/>
                                                    </div>                    
                                                </div>            
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="space-sep80"></div>

                                                    <h2 class="h2-section-title">Be Creative </h2>
                                                    <h3 class="h3-section-info">Lorem ipsum dolor sit amet, in pri offendit ocurreret. Vix sumo ferri an. pfs adodio fugit delenit ut qui. Omittam suscipiantur ex  vel,ex audiam  intellegat gfIn labitur discere eos, nam an feugiat voluptua.</h3>
                                                </div>

                                            </div>
                                        </div>
                                    </div>                
                                </div>
                            </div>
                        </div>   
                     </div>  
                