
 <div class="content-wrapper hide-until-loading">
    <div class="body-wrapper" id="staaposer">
                  <h2 class="h2-section-title">Stick / Flowpacks</h2>
                   
                   <div class="section-content section-px stones-bg white-text">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5 col-sm-5">
                                    <div class="left-image-container">
                                        <%= image_tag 'kbcosmetic.png' %>
                                    </div>                    
                                </div>            
                                <div class="col-md-6 col-sm-6">
                                    <div class="space-sep80"></div>

                                    <h2 class="h2-section-title">Titel på tekst </h2>
                                    <h3 class="h3-section-info">Lorem ipsum dolor sit amet, in pri offendit ocurreret. Vix sumo ferri an. pfs adodio fugit delenit ut qui. Omittam suscipiantur ex  vel,ex audiam  intellegat gfIn labitur discere eos, nam an feugiat voluptua.</h3>
                                </div>

                            </div>
                        </div>
                    </div>
    </div>
</div>